version: '3.8'

services:
  iqcsamp:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: iqcsamp
    env_file:
      - .env
    restart: always
    ports:
      - "3060:3000"
    environment:
      - DATABASE_URL=postgresql://rootpg:123456@host.docker.internal:5432/warehouse?schema=public&sslmode=disable
      - NEXTAUTH_SECRET=supersecret
      - NEXT_PUBLIC_APP_URL=http://localhost:3060
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
volumes:
  postgres_data:
  postgres_data_dev:


